.header-navbar{
    height: 12vh;
    overflow: hidden ;
}

.header-navigation-links, .header-navigation-list{
    display: flex;
}

.header-logo, .header-navigation-links{
    margin-top: -20px;
}

.header-logo{
    margin-left: 0px;
}

.header-navigation-list{
    width: 40vw;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    margin-top: 10px;
    border: 2px solid red;
    position: relative;
    left: -50px;
}

.header-navigation-list-items{
    font-size: 10px;
    color: red;
}

.login-button{
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    border-color: white;
    border-radius: 25px;
    margin-top: -5px;
    font-size: 1.5vw;
    position: relative;
    left: -20px;
}

.header-navigation-links{
   margin-right: -180px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#page-hero{
    margin-top: 100px;
}

.hero-text-area{
    height: 70vh;
    z-index: 99;
}

.hero-icons{
    margin-top: -35px;
}

.sc-list{
    margin-right: 50px;
}

.cta-button{
    margin-left: 20px;
}

#hero-image{
    position: absolute;
    overflow: hidden;
    width: 40vw;
    
    top: 50px;
    overflow: hidden;
    left: 45vw;
    z-index: 0;
}

#about{
    margin-top: -105px;
    padding-top: 0px;
}

.feat-text, .plan-feat, .plan-list, .plan-details{
    text-align: center;
}

/* .img-hero{

} */

.control-bar{
    margin-top: -40px;
}

.hero-subtitle{
    max-width: 400px;
    text-align: justify;
}
 
.responsive{
    width: 100%;
    max-height: 100%;
    
} 

.hero-img-container{
    display: flex;

}