
[submodule "AI/AI/AIProperty"]
	path = AI/AI/AIProperty
	url = https://github.com/MeetYourAI/AIProperty
[submodule "AI/MusicAI"]
	path = AI/MusicAI
	url = https://github.com/MeetYourAI/MusicAI
[submodule "AI/AI2Design"]
	path = AI/AI2Design
	url = https://github.com/MeetYourAI/AI2Design
[submodule "AI/AIWriter"]
	path = AI/AIWriter
	url = https://github.com/MeetYourAI/AIWriter
